[submodule "tools/sandblaster"]
	path = tools/sandblaster
	url = https://github.com/malus-security/sandblaster
[submodule "tools/xpwn"]
	path = tools/xpwn
	url = https://github.com/planetbeing/xpwn
[submodule "tools/open-source-machlib"]
	path = tools/open-source-machlib
	url = https://github.com/raresvis/open-source-machlib
